# Unit 6. 변수(Variable)

In [26]:
lbs_weight = 174.5      # snake 표기법
incheheight = 70.0      # camel 표기법

In [27]:
sum = 0
for i in range(1,101):
    sum = sum + i
sum

5050

### 정수 두개를 입력으로 받기

In [2]:
>>> x = 10
>>> x
10

10

In [4]:
x, y, z = 10, 20, 30
x

10

In [5]:
y

20

In [6]:
x = None
print(x)

None

In [8]:
number = int(input('정수를 입력하세요> '))

In [9]:
number

10

In [10]:
10 + 20, '10' +'20"'

(30, '1020"')

In [11]:
s = input('정수 두개 입력>')

In [12]:
s

'10 20'

In [15]:
a, b = s.split()
a, b, a+b

('10', '20', '1020')

In [16]:
list(map(int, s.split()))

[10, 20]

In [22]:
num1 = int(s.split()[0])
num2 = int(s.split()[1])
num1, num2

(10, 20)

In [24]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2

(300, 400)

In [1]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split())
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)